body {
    margin: 0;
    background-color: rgb(119, 69, 99);

    font-family: 'Courier Prime', monospace;
}

h2 {
    font-family: 'Rammetto One', cursive;
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    height: 100%;
}

/* Navigation part */
header {
    grid-column: span 12;
}

.logo {
    width: 110px;
    border-width: 3px;
    border-color: #000;
    padding: 20px 20px 0px 40px;
}

.tagline {
    font-family: 'Aubrey';
    font-size: 35px;
    color: black;
}

nav {
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    width: 200px;
    float: right;
    margin-left: 2px;
}

nav a {
    display: block;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(222, 222, 222);
}

nav a:hover {
    background-color: rgb(82, 71, 77);
    color: #fff;
}

.dropbtn {
    display: block;
    width: 200px;
    float: right;
    margin-left: 2px;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(222, 222, 222);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 200px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(231, 175, 224);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0a0a0a;
}

/*  */

/* Contact information part */
.contact-info {
    grid-column: span 6;
    /* justify-self: center; */
    /* align-items: center;
    justify-items: center; */

    /* text-align: center; */
    line-height: 4rem;
    /* padding-left: 6rem; */
    padding-left: 12rem;
    padding-top: 6rem;
    font-size: 1.2rem;
    /* margin-top: 1rem; */
    background: url(../images/image_прыжок_001.jpg);
    height: 70vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}

.contact-info i {
    /* justify-content: center; */
    /* align-items: center; */
    margin-right: 1.5rem;
    font-size: 1.5rem;
}


/* .address {
    margin-left: 30px;

} */

/*  */

/* Contact form part */
.contact-form {
    grid-column: span 6;
    padding-left: 4rem;

    /* margin-left: 12.5rem; */
    /* justify-self: center; */
    /* align-items: center; */
    /* text-align: center; */
    background: url(../images/image_прыжок_002.jpg);
    /* This is what I was refering to, the other day, when I mentioned changing the vh value; delete if you don't like the effect it has on your background image :)  */
    /* height: 60vh; */
    height: 70vh;
    padding-left: 12rem;
    padding-top: 6rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
    /* margin-top: 1rem; */
    line-height: 4.5rem;
    font-size: 1.2rem;
}

.contact-form .contactUs-header {
    margin-bottom: 1.8rem;
    /* margin-left: 4rem; */

}

.contact-form .text-box {
    background-color: white;
    color: black;
    border: none;
    width: calc(30% - 10px);
    /* width: 30%; */
    height: 2.3rem;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1.3rem;
    opacity: 0.5;
    margin-left: 0.2rem;
    font-family: 'Courier Prime', monospace;

}

/* #name {
    margin-left: 4rem;
} */

.contact-form textarea {
    background-color: white;
    color: black;
    border: none;
    width: 60%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    min-height: 6.3rem;
    max-height: 22rem;
    resize: vertical;
    /* margin-bottom: 1.2rem; */
    /* margin-left: 90px; */
    margin-bottom: 5rem;
    /* margin-left: 2rem; */
    opacity: 0.5;


}

.send-btn {
    text-align: center;
    background: #F1F6F5;
    background-image: -webkit-linear-gradient(top, #F1F6F5, #050D1A);
    background-image: -moz-linear-gradient(top, #F1F6F5, #050D1A);
    background-image: -ms-linear-gradient(top, #F1F6F5, #050D1A);
    background-image: -o-linear-gradient(top, #F1F6F5, #050D1A);
    background-image: -webkit-gradient(to bottom, #F1F6F5, #050D1A);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: 'Courier Prime', monospace;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    /* padding: 10px; */
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 4px 1px 16px #000000;
    border: solid #000000 1px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    bottom: 40px;
    right: 500px;
    /* margin: 0 40px 80px auto; */




}

.send-btn:hover {
    border: solid #01050A 1px;
    background: #020711;
    background-image: -webkit-linear-gradient(top, #020711, #EFF4F9);
    background-image: -moz-linear-gradient(top, #020711, #EFF4F9);
    background-image: -ms-linear-gradient(top, #020711, #EFF4F9);
    background-image: -o-linear-gradient(top, #020711, #EFF4F9);
    background-image: -webkit-gradient(to bottom, #020711, #EFF4F9);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    opacity: 0.7;
}

/*  */

/* Footer part */

.footer-contactUs {
    grid-column: span 12;
    text-align: center;
    padding: 40px;
    color: #fff;

}

/* .background-color { */

/* text-align: center; */
/* font-family: 'Rammetto One'; */
/* color: black;
    border-radius: 16px;
    border-width: 3px; */
/* border-color: #000;
    border-style: solid;
    background-color: rgb(222, 222, 222, .6); */
/* max-width: 800px; */
/* margin: auto; */
/* width: calc(100% - 40px);
    padding-top: 25px;
    padding-bottom: 34px;
    height: 80%;
} */

@media (max-width: 1440px) {
    .send-btn {
        right: 350px;

    }
}

@media (max-width: 1280px) {
    .send-btn {
        right: 300px;

    }
}

@media (max-width: 1100px) {
    .contact-info {
        grid-column: span 12;
        height: 50vh;
        font-size: 2rem;
        padding-left: 15rem;
        padding-top: 8rem;

    }

    .contact-form {
        grid-column: span 12;
        height: 50vh;
        font-size: 3rem;
        padding-left: 15rem;
        padding-top: 8rem;

    }

    .contact-form .text-box {
        width: calc(40% - 10px);
        height: 3rem;
        font-size: 1.5rem;
    }

    .contact-form textarea {
        width: 82%;
        min-height: 6.8rem;
        font-size: 2rem;

    }

    .send-btn {
        right: 5px;
        bottom: 70px;
        height: 60px;
        font-size: 1.5rem;
    }

}

@media (max-width: 800px) {
    .contact-info {
        padding-left: 10rem;
        padding-top: 6rem;
        font-size: 1.5rem;

    }

    .contact-form {
        padding-left: 10rem;
        padding-top: 6rem;
    }
}

@media (max-width: 540px) {
    h2 {
        font-size: 1.8rem;
    }

    .contact-info {
        padding-left: 8rem;
        padding-top: 4rem;
        font-size: 1rem;
        height: 70vh;

    }

    .contact-form {
        padding-left: 8rem;
        padding-top: 4rem;
        height: 70vh;
    }

    .contact-form .text-box {
        width: calc(40% - 10px);
        height: 2rem;
        font-size: 1rem;
    }

    .contact-form textarea {
        width: 84%;
        min-height: 4rem;
        font-size: 1rem;

    }

    .send-btn {
        right: 3px;
        bottom: 90px;
        height: 40px;
        font-size: 1.1rem;
    }
}

@media (max-width: 420px) {
    h2 {
        font-size: 1.5rem;
    }

    .contact-info {
        padding-left: 4rem;
        padding-top: 4rem;
        font-size: 1rem;
        height: 70vh;

    }

    .contact-form {
        padding-left: 4rem;
        padding-top: 4rem;
        height: 70vh;
    }
}