<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

img {
  border: 2px solid #C0C0C0;
  padding: 5px;
  opacity: 0.8; 
  cursor: pointer; 
}
img:hover {
  opacity: 1;
}

div {
  float: left;
  width: 25%;
  padding: 10px;
}

img.thumbnail {
  width: 200px;
  height: 200px;
}

</style>