body {
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    /*background: linear-gradient(#774563, #ca8a8b, #e6c4c0) no-repeat;*/
    background: black;
    overflow: hidden;
}

/*--MAIN CONTAINER--*/
.container {
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: linear-gradient(#deedf0, #ffd8cc, #e2d5d5) no-repeat;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);    
}


img {
    position: relative;
    width: 50%;
    border-width: 3px;
    border-color: #000;
    align-content: center;
    padding-left: 25%;
    
}

.AdmLoginTitle {
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: #926e6f;
}


#invalidUser {
    position: relative;
    text-align: center;
    margin-left: 36%;
    margin-top: 15px;
    font-size: 12px;
    color: red;
    visibility: hidden;
}


form {
    position: relative;
    text-align: center;
    align-content: center;
    width: 50%;
    margin-left: 25%;
    font-family: Tahoma;
}


#inputUserName, #inputPassword {
    position: relative;
    height: 18px;
    width: 75%;
    text-align: left;
    font-size: 14px;
    color: black;
    border: none;
    outline: none;
    background: none;
    border-bottom: solid 1px #382933;
    overflow: hidden;
    box-shadow: 10px 15px 20px rgba(0,0,0,0.1);
}

#login {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #382933;
    width: 60%;
 }

#forgetPw {
    position: relative;
    font-size: 12px;
    margin-left: 35%;
    color: #865858;
}
